<div class="center hero-unit">
  <h1>Beurself</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<table>
<tr>
  <td>
    <video width="500" height="350" controls="controls">
  <source src="/assets/video.mp4" type="video/mp4">
  </video>
</td>
<td>
  <img src="/assets/adv.jpg"/ width="500" height="350">
</td>
</tr>
</table>